{{- $is_alpine := (index .chezmoi "osRelease" | default (dict "id" "")).id | eq "alpine" }}

{{- $shell_list := list }}
{{- $valid_shell_list := list "bash" "zsh" "dash" "ash" "ksh" "csh" "tcsh" "fish" "elvish" }}
{{- $default_shell_text := "" }}
{{- $printf_format := "%s%s" }}
{{- range $valid_shell := $valid_shell_list }}
{{-   if lookPath $valid_shell }}
{{-     $default_shell_text = printf $printf_format $default_shell_text $valid_shell }}
{{-     $printf_format = "%s:%s" }}
{{-   end }}
{{- end}}
{{- $shell_list_prompt := printf "A list of all shell you will use (e.g. 'bash:zsh', default: %s)" $default_shell_text }}
{{- range $shell_list_elm := (regexSplit
    "\\s*:\\s*"
    (promptString $shell_list_prompt | default $default_shell_text)
    -1)
}}
  {{- $shell_list = $valid_shell_list
    | has $shell_list_elm
    | ternary (append $shell_list (quote $shell_list_elm)) $shell_list
  }}
{{- end }}

{{- $main_editor_prompt := "What is your main editor? (default is vi)" }}
{{- $main_editor := (promptString $main_editor_prompt | default "vi" | replace "vscode" "code") }}

{{- $use_vim_default := not (empty (lookPath "vim")) }}
{{- $use_vim_prompt := printf "Will you use vim? (default value is %v)\n[(y)es/(n)o]" $use_vim_default }}
{{- $use_vim_input := promptString $use_vim_prompt }}
{{- $use_vim := (
  $use_vim_input | regexMatch "^(?:y|yes)$"
    | or ($use_vim_default
      | and (not ($use_vim_input | regexMatch "^(?:n|no)$"))
    )
  )
}}

{{- $default_diff := (
    $use_vim | ternary "vimdiff" ($main_editor | eq "code" | ternary "code-diff" "")
  )
}}

{{- $default_merge := (
    $use_vim | ternary "vimdiff" ($main_editor | eq "code" | ternary "code-merge" "normal-merge")
  )
}}

[data]
  shell_list = {{ $shell_list | uniq | join ", " | printf "[%s]" }}
  main_editor = "{{ $main_editor }}"
  use_vim = {{ $use_vim }}
  use_win32yank = {{ not (empty (lookPath "win32yank.exe")) }}
  is_win_bash = {{ .chezmoi.os | eq "windows" | and ($shell_list | has "bash") }}

{{- $git_editor := $main_editor | replace "code" "code --reuse-window --wait" }}
{{- $git_email_default := "xxx@example.com" }}
{{- $git_email_prompt := printf "Your email for git? (default is %s)" $git_email_default }}
{{- $git_email := (promptString $git_email_prompt | default $git_email_default) }}
{{- $git_name_default := "alker0" }}
{{- $git_name_prompt := printf "Your name for git? (default is %s)" $git_name_default }}
{{- $git_name := (promptString $git_name_prompt | default $git_name_default) }}
{{- $default_use_gpg := not (empty (lookPath "gpg")) }}

{{- $bw_logged_in := not (empty (env "BW_SESSION")) }}
{{- if not $bw_logged_in }}
{{-   if lookPath "bw" }}
{{-     $bw_logged_in = not (output "bw" "status" | contains "\"unauthenticated\"") }}
{{-   end }}
{{- end }}

[data.bash]
histignore = [
  'xl',
]

[data.git]
  editor = "{{ $git_editor }}"
  email = "{{ $git_email }}"
  name = "{{ $git_name }}"
  default_diff = "{{ $default_diff }}"
  default_merge = "{{ $default_merge }}"
  gpg_sign = {{ $default_use_gpg }}
{{- if $default_use_gpg }}
  signingkey = "{{- if $bw_logged_in -}}
  {{- (bitwardenFields "item" "GitHub").default_signing_key_id.value -}}
  {{- end -}}"
{{- end }}

[data.vim]
  chezmoi_plugin_path = ""
  dein_token = "{{- if $bw_logged_in -}}
  {{- (bitwardenFields "item" "GitHub").dein_vim_token.value -}}
  {{- end -}}"

[data.bw]
email = 'xxx@example.com'
