[submodule "minpac"]
  path = dot_vim/pack/.minpac/opt/minpac
  url = https://github.com/k-takata/minpac.git
  ignore = dirty
  shallow = true
[submodule "vim-go"]
  path = dot_vim/pack/.minpac/start/vim-go
  url = https://github.com/fatih/vim-go.git
  ignore = dirty
  shallow = true
