[core]
  editor = {{ .git.editor }}
[user]
  email = {{ .git.email }}
  name = {{ .git.name }}
[credential]
{{- if (index .chezmoi "kernel" | default (dict "osrelease" "")).osrelease | contains "microsoft" }}
  helper = "/mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe"
{{- else if eq .chezmoi.os "windows" }}
  helper = manager
{{- else }}
  helper = cache --timeout 300000
{{- end }}
[pull]
  ff = only
[color]
  status = auto
  diff = auto
  branch = auto
[status]
  submoduleSummary = 1
[diff]
  tool = {{ .git.default_diff }}
[difftool]
  prompt = false
[difftool "normal-diff"]
  cmd = 'diff -u $LOCAL $REMOTE'
[difftool "code-diff"]
  cmd = 'code --reuse-window --diff $LOCAL $REMOTE'
[merge]
  tool = {{ .git.default_merge }}
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "normal-merge"]
  cmd = 'vi $MERGED'
[mergetool "code-merge"]
  cmd = 'code --reuse-window $MERGED'
  trustExitCode = false

[alias]
  ftpr = fetch --prune
  mgsq = merge --squash
  mgbfp = !sh -c 'git fetch --prune origin && git merge --ff-only --rebase origin ${1:-master}' _
  mgafp = !sh -c 'git fetch --prune origin && git merge --ff-only origin ${1:-master}' _
  sw = switch
  br = branch
  cm = commit
  cmm = commit -m
  cmam = commit --amend
  cmamne = commit --amend --no-edit
  cmamnem = commit --amend --no-edit -m
  su = status
  sh = stash
  rs = restore
  rss = restore -S
  rsw = restore -W
  uisw = update-index --skip-worktree
  uinsw = update-index --no-skip-worktree
  shbr = show-branch
  brls = !git branch | grep -v '[~]'
  stls = !git stash list | grep -v '[~]'
  uils = !git ls-files -v | grep ^S

