[core]
  editor = {{ .git.editor }}
  symlinks = true
[user]
  email = {{ .git.email }}
  name = {{ .git.name }}
[credential]
{{- if (index .chezmoi "kernel" | default (dict "osrelease" "")).osrelease | contains "microsoft" }}
  helper = "/mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager.exe"
{{- else if eq .chezmoi.os "windows" }}
  helper = manager
{{- else }}
  helper = cache --timeout 300000
{{- end }}
[init]
  defaultBranch = main
[pull]
  ff = only
[color]
  status = auto
  diff = auto
  branch = auto
[status]
  submoduleSummary = 1
[diff]
  tool = {{ .git.default_diff }}
[difftool]
  prompt = false
[difftool "normal-diff"]
  cmd = diff -u $LOCAL $REMOTE
[difftool "code-diff"]
  cmd = code --reuse-window --wait --diff $LOCAL $REMOTE
[merge]
  tool = {{ .git.default_merge }}
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "normal-merge"]
  cmd = vi $MERGED
[mergetool "code-merge"]
  cmd = code --reuse-window $MERGED
  trustExitCode = false

[alias]
  al = !git config --get-regexp ^alias\\. | cut -d '.' -f 2 | sed -e 's/ / = /'
  alias = !git config --get-regexp ^alias\\. | cut -d '.' -f 2 | sed -e 's/ / = /'
  cf = config
  cfl = config --list
  cl = clone
  clsp = clone --sparse --filter=blob:none
  ftbn = fetch --filter=blob:none
  ft1 = fetch --depth=1 --update-shallow
  ftpr = fetch --prune
  ftpr1 = fetch --prune --depth=1 --update-shallow
  ftm = fetch --prune --depth=1 --update-shallow --filter=blob:none
  ftpr = fetch --prune
  mgsq = merge --squash
  mgff = merge --ff-only
  mgbfp = !sh -c 'git fetch --prune origin && git merge --ff-only --rebase origin ${1:-main}' _
  mgafp = !sh -c 'git fetch --prune origin && git merge --ff-only origin ${1:-main}' _
  sw = switch
  br = branch
  adp = add --patch
  adpu = !sh -c 'git add --intent-to-add -- \"$@\" && git add --patch -- \"$@\"' _
  ada = add --all
  cm = commit
  cmm = commit -m
  cmam = commit --amend
  cmamne = commit --amend --no-edit
  cmamnem = commit --amend --no-edit -m
  n = now
  df = diff
  dfc = diff --cached
  dfnp = !git --no-pager diff
  dft = difftool
  dftc = difftool --cached
  su = status
  sh = stash
  rs = restore
  rss = restore --staged
  rsw = restore --worktree
  rbi = rebase --interactive
  rbir = rebase --interactive --rebase-merges
  rbcn = rebase --continue
  uisw = update-index --skip-worktree
  uinsw = update-index --no-skip-worktree
  shbr = show-branch
  brls = !git branch | grep -v '[~]'
  stls = !git stash list | grep -v '[~]'
  uils = !git ls-files -v | grep ^S

