if locale -a | grep -qe ja_JP.utf8 ; then
  export LANG=ja_JP.utf8
else
  export LANG=C
fi

{{  range .env.list }}
{{-   if hasKey . "expands"}}
{{-     $expands := (list) }}
{{-     range .expands }}
{{-       if eq . "home" }}
{{-         $expands = append $expands "${HOME}" }}
{{-       else if eq . "config" }}
{{-         $expands = append $expands "${XDG_CONFIG_HOME:-$HOME/.config}"  }}
{{-       else if eq . "data" }}
{{-         $expands = append $expands "${XDG_CONFIG_HOME:-$HOME/.local/share}" }}
{{-       end }}
{{-     end }}
{{-     printf "export %s" .name }}={{ template "array/printf" (dict "format" .format "expands" $expands "quote" "double") }}
{{    else }}
{{-     printf "export %s" .name }}={{ template "array/printf" (dict "format" .format "quote" (contains " " .format | ternary "single" "")) }}
{{    end }}
{{- else -}}
{{- end -}}

bash_profile_load_with_filecheck() {
  if [ -f "$1" ]; then
    . "$1"
  fi
}

bash_profile_load_with_filecheck "$HOME/.nix-profile/etc/profile.d/nix.sh"

case $- in
  *i*)
    bash_profile_load_with_filecheck  "$HOME/.bashrc"
    ;;
  *)
    bash_profile_load_with_filecheck "$HOME/.bash_aliases"
    ;;
esac
