case $- in
  *i*) ;;
  *) return ;;
esac

export HISTFILE="${HISTFILE:-$HOME/.bash_history}"
export HISTCONTROL=ignoreboth
export HISTIGNORE=echo:ls:la:ll:[fb]g:exit:pwd:clear:reset
{{- range $ignore := .bash.histignore }}:{{ $ignore }}{{ end }}

alias la='ls -A'
alias ll='ls -Alh'

if [ -x /usr/bin/dircolors ]; then
  eval "$({
    dircolors_path="${XDG_CONFIG_HOME:-"$HOME/.config"}/dircolors"
    if [ -r "$dircolors_path" ]; then
      dircolors -b "$dircolors_path"
    else
      dircolors -b
    fi
  })"

  #dir vdir
  for cmd_name in ls grep fgrep egrep
  do
    alias "$cmd_name=$cmd_name --color=auto"
  done
fi

if [ -n "$(command -v wget)" ]; then
  alias wget="wget --hsts-file ${XDG_DATA_HOME:-$HOME/.local/share}/wget/wget-hsts"
fi

if [ -n "$(command -v gpg)" ]; then
  export GPG_TTY="$(tty)"
  alias gpg="LANG=en_US.utf8 gpg"
fi

if [ -z "$(command -v brew)" ]; then
  eval "$(
    linuxbrew_path=/home/linuxbrew/.linuxbrew/bin/brew
    if [ -f "$linuxbrew_path" ] && [ -x "$linuxbrew_path" ] ; then
      "$linuxbrew_path" shellenv
    fi
  )"
fi

if [ -n "$(command -v fnm)" ]; then
  export FNM_DIR="${XDG_CONFIG_HOME:-$HOME/.config}/fnm"
  eval "$(fnm env)"
fi

export PATH="$(
  home_bin_path="$HOME/bin"
  case "$PATH" in
    ${home_bin_path}*)
      echo "$PATH"
      ;;
    *)
      echo "${home_bin_path}:$PATH"
      ;;
  esac
)"

bash_profile_create_prompt_string() {
  (
    # Terminal Title => \e]0;\h_\u@\w\a
    ps1_title='\e]0;\h_\u@\w\a'

    # Current Root => ${debian_chroot:+($debian_chroot)}
    ps1_root='${debian_chroot:+($debian_chroot)}'

    # User Part => [ \u ]
    # User Part (Colored)
    # => [ \[\e[1;32m\]\u\[\e[0m\] ]
    ps1_user='\[\e[1;32m\]\u\[\e[0m\]'

    # Location Part => \w
    # Location Part (Colored)
    # => \[\e[33m\]\w\[\e[0m\]
    ps1_location='\[\e[1;35m\]\w\[\e[0m\]'

    # Last Status Part => $?
    # Last Status Part (Colored)
    # => $(lst_st=$? && [ "$lst_st" == 0 ] && echo "\[\e[92m\]" || echo "\[\e[31m\]"; exit $lst_st)$?\[\e[0m\]
    ps1_status="$(printf '%s' \
      '$(lst_st=$? && ' \
      'if [ "$lst_st" -eq "0" ];' \
      'then echo "\[\e[92m\]";' \
      'else echo "\[\e[31m\]";' \
      'fi;' \
      'exit $lst_st)' \
      '$?\[\e[0m\]'
    )"

    # Dollar Part => \$
    # Dollar Part (Colored)
    # => \[\e[1;95m\]\$\[\e[0m\]
    ps1_dollar='\[\e[93m\]\$\[\e[0m\]'

    echo "${ps1_title}${ps1_root}[ ${ps1_user} ] ${ps1_location}\n${ps1_status} ${ps1_dollar} "
  )
}
export PS1="$(bash_profile_create_prompt_string)"

shopt -s histappend

shopt -s dotglob
shopt -s nocaseglob

shopt -s checkwinsize

stty stop undef
stty start undef

if [ -f "$HOME/.bash_aliases" ]; then
  . "$HOME/.bash_aliases"
fi

if [ -n "$(command -v chezmoi)" ]; then
  eval "$(chezmoi completion bash)"
fi

if [ -n "$(command -v gh)" ]; then
  eval "$(gh completion -s bash)"
fi

eval "$(
  completions_dir="$HOME/.nix-profile/share/bash-completion/completions"
  if [ -d "$completions_dir" ]; then
    find $completions_dir -maxdepth 1 ! -type d ! -name 'chezmoi*' ! -name 'gh*' -exec cat {} +
  fi
)"

eval "$(
  tmp_dir="${TEMPDIR:-/tmp}"
  [ -d "$tmp_dir" ] || exit
  dummy_dir="$tmp_dir/bash_alias_completion"
  if [ ! -d "$dummy_dir" ]; then
    mkdir "$dummy_dir" || exit
  fi
  echo "PATH='$dummy_dir:$PATH'"
  {
    printf '%s\n' \
      'git g' \
      'chezmoi cm' \
      'exa xl' \
      'dust ds'
  } | while read org aliased; do
    comp_line="$(complete -p "$org" 2>/dev/null)"
    dummy_script="$dummy_dir/$aliased"
    if [ -n "$comp_line" ]; then
      touch "$dummy_script"
      if [ ! -x  "$dummy_script" ]; then
        chmod a+x "$dummy_script"
      fi
      echo "${comp_line% *} $aliased"
    fi
  done
  echo "PATH='$PATH'"
)"
