#!/bin/sh

set -eu

{{ if .is_win_bash }}
chezmoi_source_dir=$HOME/.local/share/chezmoi
{{ else }}
chezmoi_source_dir='{{ .chezmoi.sourceDir }}'
{{ end }}

echo "Entering to '$chezmoi_source_dir'"
cd $chezmoi_source_dir

[ "$(git config --get chezmoi.initializedModules)" = "true" ] && {
  echo 'Submodules have been initialized'
  return
}

git submodule foreach '
git config core.repositoryformatversion 1
git config extensions.worktreeConfig true
git config remote.origin.promisor true
git config remote.origin.partialclonefilter blob:none
git config --worktree core.sparseCheckout true
'

git --git-dir=.git/modules/minpac config --worktree core.sparseCheckoutCone true
cat <<EOF |
/autoload/
/doc/
/plugin/
EOF
git --git-dir=.git/modules/minpac sparse-checkout set --stdin


cat <<EOF |
/LICENSE
/syntax/gotexttmpl.vim
EOF
git --git-dir=.git/modules/vim-go sparse-checkout set --stdin
git --git-dir=.git/modules/vim-go update-index --assume-unchanged syntax/gotexttmpl.vim

git submodule foreach 'git sparse-checkout reapply'

vim_go_path="$(git --git-dir=.git/modules/vim-go config core.worktree | sed -E 's%^(\.\./)+%%')"
sed -i -E '
s%(match +goTplIdentifier [^/]*/[^/]*)\\s([^/]*/)%\1[:blank:]\2%i
s%(match +goTplIdentifier .+])(\+\\)%\1\\\2%i
' ${vim_go_path:?}/syntax/gotexttmpl.vim

git config chezmoi.initializedModules true

