[core]
  editor = {{ .git.editor }}
  symlinks = true
  pager = "less --no-init --RAW-CONTROL-CHARS --quit-if-one-screen"
[user]
  email = {{ .git.email }}
  name = {{ .git.name }}
{{- $signingkey := index .git "signingkey" }}
{{- if $signingkey }}
  signingkey = {{ $signingkey }}
{{- end }}
[credential]
{{- $use_gpg := false }}
{{- if lookPath "git.exe" }}
  helper = !git.exe credential-manager-core
{{- else }}
{{-   $gcmPath := joinPath .chezmoi.homeDir "bin" "git-credential-manager-core" }}
{{-   if stat $gcmPath }}
  helper = {{ $gcmPath }}
{{-     if and (lookPath "gpg") (lookPath "pass") }}
{{- $use_gpg = true }}
  credentialStore = gpg
{{-     end }}
{{-   else if eq .chezmoi.os "windows" }}
  helper = manager
{{-   else }}
  helper = cache --timeout 300000
{{-   end }}
{{- end }}
[init]
  defaultBranch = main
[commit]
{{- if $signingkey }}
  gpgsign = true
{{- end }}
[fetch]
  parallel = 4
[pull]
  ff = only
[clone]
  filterSubmodules = true
[status]
  submoduleSummary = true
[submodule]
  fetchJobs = 4
[diff]
{{- with index .git "default_diff" }}
  tool = {{ . }}
{{- end }}
[difftool]
  prompt = false
[difftool "code-diff"]
  cmd = code --reuse-window --wait --diff $LOCAL $REMOTE
[merge]
  tool = {{ .git.default_merge }}
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "normal-merge"]
  cmd = vi $MERGED
[mergetool "code-merge"]
  cmd = code --reuse-window $MERGED
  trustExitCode = false
[url "https://github.com/"]
  insteadOf = "gh:"
[alias]
  al = !git config --get-regexp ^alias\\. | cut -d '.' -f 2- | sed -e 's/ / = /'
  alias = !git config --get-regexp ^alias\\. | cut -d '.' -f 2- | sed -e 's/ / = /'
  cf = config
  cfl = config --list
  cl = clone
  cl1 = clone --depth=1
  cl1tn = clone --depth=1 --filter=tree:0
  cl1r = clone --depth=1 --recurse-submodules --shallow-submodules
  clsp = clone --sparse --filter=tree:0
  clsp1 = clone --sparse --filter=tree:0 --depth=1
  ftbn = fetch --filter=blob:none
  fttn = fetch --filter=tree:0
  ft1 = fetch --depth=1 --update-shallow
  ft1tn = fetch --depth=1 --update-shallow --filter=tree:0
  ftpr = fetch --prune
  ftpr1 = fetch --prune --depth=1 --update-shallow
  ftpr1bn = fetch --prune --depth=1 --update-shallow --filter=blob:none
  ftpr1tn = fetch --prune --depth=1 --update-shallow --filter=tree:0
  spi = sparse-checkout set --no-cone --sparse-index "/"
  sm = submodule
  smg = !sh -c 'git --git-dir=.git/module/$0 \"$@\"'
  smrc = submodule-recovery
  smro = submodule-readonly
  sma1gh = !sh -c 'git submodule add --depth=1 \"$@\" -- \"https://github.com/${0}\"'
  smu1tn = submodule update --init --filter=tree:0
  smspi = submodule --quiet foreach 'git sparse-checkout set --no-cone --sparse-index "/"'
  smspe = submodule-sparse-edit
  mgsq = merge --squash
  mgff = merge --ff-only
  mgbfp = !sh -c 'git fetch --prune origin && git merge --ff-only origin/${1:-main}' _
  mgafp = !sh -c 'git fetch --prune origin && git merge --ff-only origin/${1:-main}' _
  sw = switch
  br = branch
  adp = add --patch
  adpu = !sh -c 'git add --intent-to-add -- \"$@\" && git add --patch -- \"$@\"' _
  ada = add --all
  cm = commit
  cmm = commit -m
  cmam = commit --amend
  cmamne = commit --amend --no-edit
  cmamnem = commit --amend --no-edit -m
  n = now
  df = diff
  dfc = diff --cached
  dfnp = !git --no-pager diff
  dft = difftool
  dftc = difftool --cached
  su = status --short --branch
  sua = status --short --branch --untracked-files=all
  suf = status
  sufa = status --untracked-files=all
  l = log
  l1 = log --oneline
  sh = stash
  rs = restore
  rss = restore --staged
  rsw = restore --worktree
  rbi = rebase --interactive
  rbir = rebase --interactive --rebase-merges
  rbcn = rebase --continue
  uisw = update-index --skip-worktree
  uinsw = update-index --no-skip-worktree
  shbr = show-branch
  brls = branch --all
  stls = stash list
  uils = !git ls-files -v | grep ^S
